@using FoodSafety.Library
@model FoodSafety.Library.ViewModel

<div class="container">
    <h1>Food Safety Dashboard</h1>
    
    <div class="row mt-4">
        
        <div class="col-md-4">
            <div class="card bg-success text-white p-3">
                <h3>Inspections This Month</h3>
                <p class="display-4">@Model.TotalInspections</p>
            </div>
        </div>
        
        <div class="col-md-4">  
            <div class="card bg-danger text-white p-3">
                <h3>Failed Inspections</h3>
                <p class="display-4">@Model.TotalFail</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card bg-warning text-dark p-3">
                <h3>Overdue FollowUps</h3>
                <p class="display-4">@Model.OverdueFollowUps</p>
            </div>
        </div>
    </div>
    <form asp-action="Index" method="get" class="border p-3 mb-4 bg-light shadow-sm">
        <div class="row g-3 align-items-end">
            <div class="col-md-4">
                <label class="form-label">Town</label>
                <select name="SelectedTown" class="form-select" asp-items="ViewBag.TownList">
                    <option value="">All Towns</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">Risk Level</label>
                <select name="SelectedRiskRating" class="form-select" asp-items="ViewBag.RiskList">
                    <option value="">All Ratings</option>
                </select>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary w-100">Filter</button>
            </div>
        </div>
    </form>

    <h2 class="mt-5">Last Inspections</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Premises</th>
            <th>Notes</th>
            <th>Score</th>
            <th>Town</th>
            <th>Risk Level</th>
            
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.AllInspections) {
            <tr>
                <td>@item.InspectionDate.ToString("dd/MM/yyyy")</td>
                <td>@item.Premises.Name</td>
                <td>@item.Notes</td>
                <td>@item.Score</td>
                <td>@item.Premises.Town</td> 
                @{
                    var bgColor = item.Premises.RiskRating == RiskLevel.High ? "bg-danger" : 
                        item.Premises.RiskRating == RiskLevel.Medium ? "bg-warning" : "bg-success";
                }

                <td>
                    <div class="badge @bgColor text-white fs-6 p-3 d-inline-block" style="width: 120px;">
                        @item.Premises.RiskRating
                    </div>
                </td>
                
                
                    
                
                
            </tr>
        }
        </tbody>
    </table>
</div>